* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

html {
  font-size: 62.5%;
  overflow-x: hidden;
}

body {
  font-family: sans-serif;
  font-weight: 400;
  background-color: #fff7e9;
  line-height: 1;
  padding: 2rem;
}

h2,
h3 {
  font-weight: 700;
  color: #333;
  letter-spacing: -0.5px;
}

h2 {
  font-size: 5.2rem;
  line-height: 1.05;
  margin-bottom: 3.2rem;
  color: #e67e22;
}

.main-body {
  margin-top: 2rem;
}

.main-greeting {
  /* color: black; */
  color: #ff99d7;
  font-size: 2rem;
}

.main-body-name {
  color: #e67e22;
  margin-bottom: 1rem;
}

.main-body-text {
  /* color: #333; */
  color: #1746a2;
}

.main-body-descrption {
  font-size: 2rem;
}

.header {
  display: flex;
  gap: 1rem;
  align-items: center;
  justify-content: space-between;
  margin-bottom: 2rem;
}

.main-nav-link {
  font-size: 1.5rem;
}
.main-nav-link:link,
.main-nav-linkl:visited {
  color: #fff;
  background-color: #e67e22;
}

.main-nav-link:hover,
.main-nav-linkl:active {
  background-color: #ffd372;
}

.main-nav-list {
  list-style: none;
  display: flex;
  gap: 1rem;
}

.main-body {
  display: flex;
  gap: 1rem;
  align-items: center;
  justify-content: space-between;
}

.my-picture {
  border-radius: 70px;
  height: 350px;
}

.main-footer {
  margin-top: 2rem;
  font-size: 1.5rem;
  padding: 1.8rem;
  border-top: 1px solid #333;
  font-weight: 500;
}

.footer-logo {
  padding: 1rem;
  font-weight: 500;
  text-decoration: none;
}

.form {
  font-size: 1.5rem;
  font-weight: 600;
  color: #333;
}

.project-list-name,
.project-list {
  padding: 1rem;
  font-size: 2rem;
  color: #1746a2;
}

.skills-list,
.services-list {
  padding: 1rem;
  font-size: 2rem;
  color: #1746a2;
}

/* .list {
 list-style: none;
 display: flex;
 flex-direction: column;
 gap: 1.6rem;
} */
